*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
    url('../fonts/balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.title {
    font-family: 'balqis';
    font-weight: 300;
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    display: block;
    margin-bottom: 100px;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -30px;
    display: block;
}

ul {
    list-style: none;
}

.header {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item + .menu__list-item {
    margin-left: 52px;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.header__phone {
    padding-left: 40px;
    position: relative;
}

.header__phone::before {
    content: '';
    position: absolute;
    background-image: url('../images/phone-icon.svg');
    width: 30px;
    height: 30px;
    left: 0;
    filter: invert(1);
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
}

.header__title span {
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 85px;
}

/*Section Fairy tail*/

.fairy-tail__slider {
    width: 50%;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}


.fairy-tail__inner {
    position: relative;
}

.fairy-tail__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__body {
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__text {
    padding: 10px 0;
}

.fairy-tail__title span {
    margin-left: 185px;
}


/*Section Our Trip*/
.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__container {
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 50%;
    margin-right: 55px;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}

.our-trip__btn {
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    padding: 11px 53px;
    border: 1px solid #E2AB3F;
}

.hotel__title span {
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
}

.hotel__images {
    margin-right: 100px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.hotel__text {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}

/*Section Price*/
.price {
    background-image: url("../images/price-bg.png");
    background-repeat: no-repeat;
    /*background-position: center right 10%;*/
    background-position: top 86% right 16%;
}

.price__title span {
    margin-left: 115px;
}

.price__inner {
    display: flex;
}

.price__on {
    margin-right: 70px;
    width: 530px;
}

.price__on-title,
.price__off-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular';
}

.price__list-item {
    margin-bottom: 20px;
}

/*Section Contacts*/

.contacts {
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__info {

}

.contacts__date,
.contacts__price {
    font-family: 'balqis';
    font-size: 96px;
    line-height: 100px;
    font-weight: 300;
    color: #E2AB3F;
}

.contacts__date {
    margin-bottom: 20px;
}

.contacts__price {
    margin-left: 120px;
}

.contacts__date span,
.contacts__price span {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -10px;
    margin-left: 205px;
}

.contacts__form {
    min-width: 383px;
    margin: 0 auto;
}

.contacts__form-title {
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
}

.contacts__form-name {
}

.contacts__form-phone {
}

.contacts__form-input {
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RobotoCondensed-Light';
}

.contacts__form-input::placeholder {
    color: #000;
}

.contacts__form-btn {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #E2AB3F;
    padding: 11px 45px;
    font-family: 'RobotoCondensed-Light';
    cursor: pointer;
}

.contacts__image{
    max-width: 500px;
}

/*Section Footer*/

.footer {
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    padding-top: 96px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    width: 356px;
    height: 527px;
    background-image: url(../images/shar.png);
    background-repeat: no-repeat;
    text-align: center;
}

.footer__text {
    font-family: 'balqis';
    font-size: 94px;
    line-height: 115px;
    color: #fff;
}

.footer__contacts-title {
    font-family: 'balqis';
    font-size: 86px;
    line-height: 115px;
    color: #E2AB3F;
    margin-bottom: 50px;
    padding-top: 50px;
}

.hotel-gall_img{
    max-width: 250px;
}

.footer__phone {
    margin-bottom: 20px;
}

.footer__phone,
.footer__email {
    display: inline-block;
    padding-left: 40px;
    position: relative;
}

.footer__phone::before,
.footer__email::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
}

.footer__phone::before {
    background-image: url(../images/phone-icon-footer.svg);
}

.footer__email::before {
    background-image: url(../images/mail-icon-footer.svg);
}

.footer__social {
    margin-top: 38px;
}

.footer__social a {
    margin-left: 7px;
    margin-right: 7px;
}

@media (max-width: 1240px) {
    .header__title {
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }

    .header__title span {
        font-size: 50px;
        margin-top: -50px;
    }

    .our-trip__body {
        padding: 0 15px;
    }

    .hotel__images {
        margin-left: 0px;
        margin-right: 0px;
        object-fit: cover;
        width: 100%;
        height: 50vh;
        margin-bottom: 30px;
    }

    .hotel__inner {
        flex-wrap: wrap;
    }

    .hotel__gallery a {
        width: 50%;
        padding: 15px;
    }

    .hotel__gallery a > img {
        width: 100%;
        object-fit: cover;
    }

    .price {
        background-position: top 1% right 22%;
    }

    .footer__text {
        font-size: 60px;
    }

    .footer__contacts-title {
        font-size: 60px;
        line-height: 100px;
        margin-bottom: 30px;
        padding-top: 70px;
    }
}

@media (max-width: 991px) {
    .header__title {
        font-size: 120px;
        line-height: 180px;
    }

    .header__title span {
        font-size: 40px;
        margin-top: -50px;
    }

    .page-section {
        margin: 100px 0;
    }

    .fairy-tail__container,
    .our-trip__container {
        position: static;
    }

    .fairy-tail__slider {
        width: 100%;
    }

    .fairy-tail__body {
        width: 100%;
        padding-left: 0;
    }

    .our-trip__body {
        width: 100%;
        padding-bottom: 20px;
    }

    .our-trip__slider {
        width: 100%;
    }

    .our-trip__btn {
        margin-top: 30px;
    }

    .price {
        background-position: top 1% right 9%;
    }

    .contacts__image {
        max-width: 319px;
    }
}

@media (max-width: 840px) {
    .header__title {
        padding-top: 100px;
        font-size: 120px;
        line-height: 150px;
    }

    .header__title span {
        font-size: 30px;
        margin-top: -44px;
    }

    .header__top {
        font-size: 20px;
        line-height: 24px;
    }

    .header__phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .our-trip__body {
        padding: 0 15px;
    }

    .our-trip__body {
        padding-bottom: 80px;
    }

    .hotel__images {
        height: 30vh;
    }

    .contacts__inner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .price__inner {
        display: flex;
        flex-direction: column;
    }

    .price {
        background-position: top 100% right 12%;
    }

    .footer__inner {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {

    .header__top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu {
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }

    .header__title {
        font-size: 80px;
        line-height: 120px;
    }

    .header__title span {
        font-size: 25px;
        margin-top: -46px;
        margin-right: 15px;
    }

    .fairy-tail__item img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    .our-trip__slider-item img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    .page-section {
        margin: 50px 0;
    }

    .title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }

    .fairy-tail__title span {
        margin-left: 110px;
    }

    .our-trip__title span {
        margin-left: 150px;
    }

    .our-trip__list {
        font-size: 20px;
    }

    .our-trip__btn {
        font-size: 20px;
    }

    .hotel__title span {
        margin-left: 87px;
    }

    .price__on {
        width: 100%;
    }

    .price {
        background-size: 36%;
        background-position: top 89% right 12%;
    }

    .price__title span {
        margin-left: 68px;
    }

    .contacts__price {
        margin-left: 71px;
    }

    .contacts__date span, .contacts__price span {
        margin-left: 151px;
    }

    .contacts__form-title {
        margin-top: 29px;
    }

    .contacts__form {
        min-width: 100%;
    }

    .contacts__form-btn {
        font-size: 20px;
    }

    .footer__text {
        font-size: 50px;
    }

    .footer__contacts-title {
        font-size: 50px;
        line-height: 59px;
        margin-top: -19px;
    }

    .footer__contacts {
        width: 300px;
        height: 470px;
        background-size: 100%;
    }

}

@media (max-width: 370px) {
    .header__title {
        font-size: 60px;
        line-height: 100px;
    }

    .header__title span {
        font-size: 18px;
        margin-right: 0px;
    }

    .menu__list-item + .menu__list-item {
        margin-left: 18px;
    }

    .title {
        font-size: 50px;
    }

    .title span {
        font-size: 20px;
    }

    .fairy-tail__title span {
        margin-left: 90px;
    }

    .our-trip__title span {
        margin-left: 126px;
        margin-top: -40px;
    }

    .contacts__date span, .contacts__price span {
        margin-left: 110px;
    }

    .footer__text {
        font-size: 40px;
    }

    .footer__contacts-title {
        font-size: 40px;
    }
    .footer {
         padding-top: 0px;
    }

}